body {
    background-color: rgb(3, 27, 71);
    
}

body h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


body a {
    text-decoration: none;
    /*Determinar alguma decoração presente nos links (underlines);*/
    color: black;
}

body #container {
    /* LARGURA DO COMPONENTE */
    width: 960px;
    margin: auto;
    /* ESPAÇO EXTERNO DO COMPONENTE */
    background-color: white
}

body header,footer {
    background-color: white;
}

body #container #imgs {
    width: 960px;
}