#name {
    text-align: center;
}

#profile_img {
    width: 400px;
    margin: auto;
}

.backLightGreen {
    background-color: rgba(0, 255, 170, 0.178);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    list-style-type: upper-alpha;
}

ol li {
    background-color: rgba(128, 128, 128, 0.164);
    border: 1px dotted black;
    text-align: center;
}

#linksBottom *{
    display: block;
    margin: 5px;
}